@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pacifico&display=swap');
@theme{
 
  --color-primary:#F84565;
  --color-primary-dull:#D63854
}
 @import "tailwindcss";


 body{
  color: white;
  background-color: #09090B;
}

*{
   font-family: "Outfit", sans-serif;
   scrollbar-width: thin;
   scrollbar-color: #787777 #1e1e1e;
}

.no-scrollbar{
  scrollbar-width: none;
}